---
http_interactions:
- request:
    method: post
    uri: http://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/user@example.com/?hapikey=<HUBBAH_API_KEY>&portalId=<HUBBAH_HUB_ID>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"user"},{"property":"email","value":"user@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":21823,"isNew":false}'
  recorded_at: Fri, 30 May 2014 21:07:49 GMT
recorded_with: VCR 2.9.2
